**/*.swp
.idea
.ipynb_checkpoints/
*.iml
.DS_Store
.vscode/
.hgignore
.hg/

.sass-cache
**/node_modules
**/bower_components
package-lock.json
yarn.lock

.shadow-cljs/

**/cljs-runtime
**/*.jar
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port

**/images
**/*.pdf
**/fonts
resources/public/js
